{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore</title>
    <link rel="stylesheet" href="{% static 'exp_style.css' %}">
</head>
<body>
    <div class="main-heading">
        <h1><span style="color: #8ab927">Malayalam</span> Parser</h1>
    </div>

    <div class="container">
        <div class="tag"><a href="{% url 'pos_tag_detail' 'Adjective' %}">Adjective<br>(വിശേഷണം)</a></div>
        <div class="tag"><a href="{% url 'pos_tag_detail' 'Adposition' %}">Adposition<br>(അടിസ്ഥാനവാക്ക്)</a></div>
        <div class="tag"><a href="{% url 'pos_tag_detail' 'Adverb' %}">Adverb<br>(ക്രിയാവിശേഷണം)</a></div>
        <div class="tag"><a href="{% url 'pos_tag_detail' 'Auxiliary' %}">Auxiliary<br>(സഹായകക്രിയ)</a></div>
        <div class="tag"><a href="{% url 'pos_tag_detail' 'Coordinating Conjunction' %}">Coordinating Conjunction<br>(സമന്വയ സംയുക്തം)</a></div>
        <div class="tag"><a href="{% url 'pos_tag_detail' 'Determiner' %}">Determiner<br>(തിരഞ്ഞെടുപ്പ്)</a></div>
        <div class="tag"><a href="{% url 'pos_tag_detail' 'Interjection' %}">Interjection<br>(അന്ത്യസംബന്ധം)</a></div>
        <div class="tag"><a href="{% url 'pos_tag_detail' 'Noun' %}">Noun<br>(നാമം)</a></div>
        <div class="tag"><a href="{% url 'pos_tag_detail' 'Numeral' %}">Numeral<br>(അക്കങ്ങള്‍)</a></div>
        <div class="tag"><a href="{% url 'pos_tag_detail' 'Other' %}">Other<br>(മറ്റുള്ളവ)</a></div>
        <div class="tag"><a href="{% url 'pos_tag_detail' 'Particle' %}">Particle<br>(അവ്യയം)</a></div>
        <div class="tag"><a href="{% url 'pos_tag_detail' 'Pronoun' %}">Pronoun<br>(സര്‍വ്വനാമം)</a></div>
        <div class="tag"><a href="{% url 'pos_tag_detail' 'Proper Noun' %}">Proper Noun<br>(ഉദാഹരണം)</a></div>
        <div class="tag"><a href="{% url 'pos_tag_detail' 'Punctuation' %}">Punctuation<br>(വിരാമചിഹ്നം)</a></div>
        <div class="tag"><a href="{% url 'pos_tag_detail' 'Subordinating Conjunction' %}">Subordinating Conjunction<br>(ഉപസമയചിഹ്നം)</a></div>
        <div class="tag"><a href="{% url 'pos_tag_detail' 'Symbol' %}">Symbol<br>(ചിഹ്നം)</a></div>
        <div class="tag"><a href="{% url 'pos_tag_detail' 'Verb' %}">Verb<br>(ക്രിയ)</a></div>
    </div>
</body>
</html>
