{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore</title>
    <link rel="stylesheet" href="{% static 'exp_style.css' %}">
</head>
<body>
    <div class="main-heading">
        <h1><span style="color: #8ab927">Malayalam</span> Parser</h1>
    </div>

    <div class="container">
        <div class="tag"><a href="{% url 'pos_tag_detail' 'Adjective' %}">Adjective</a></div>
        <div class="tag"><a href="{% url 'pos_tag_detail' 'Adposition' %}">Adposition</a></div>
        <div class="tag"><a href="{% url 'pos_tag_detail' 'Adverb' %}">Adverb</a></div>
        <div class="tag"><a href="{% url 'pos_tag_detail' 'Auxilary' %}">Auxilary</a></div>
        <div class="tag"><a href="{% url 'pos_tag_detail' 'Coordinating Conjunction' %}">Coordinate Conjunction</a></div>
        <div class="tag"><a href="{% url 'pos_tag_detail' 'Determiner' %}">Determiner</a></div>
        <div class="tag"><a href="{% url 'pos_tag_detail' 'Interjection' %}">Interjection</a></div>
        <div class="tag"><a href="{% url 'pos_tag_detail' 'Noun' %}">Noun</a></div>
        <div class="tag"><a href="{% url 'pos_tag_detail' 'Numeral' %}">Numeral</a></div>
        <div class="tag"><a href="{% url 'pos_tag_detail' 'Other' %}">Other</a></div>
        <div class="tag"><a href="{% url 'pos_tag_detail' 'Particle' %}">Particle</a></div>
        <div class="tag"><a href="{% url 'pos_tag_detail' 'Pronoun' %}">Pronoun</a></div>
        <div class="tag"><a href="{% url 'pos_tag_detail' 'Proper Noun' %}">Proper Noun</a></div>
        <div class="tag"><a href="{% url 'pos_tag_detail' 'Punctuation' %}">Punctuation</a></div>
        <div class="tag"><a href="{% url 'pos_tag_detail' 'Subordinate' %}">Subordinate</a></div>
        <div class="tag"><a href="{% url 'pos_tag_detail' 'Symbol' %}">Symbol</a></div>
        <div class="tag"><a href="{% url 'pos_tag_detail' 'Verb' %}">Verb</a></div>
    </div>
</body>
</html>
