<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="main-heading">
        <h1><span style="color: #8ab927">Malayalam</span> Parser</h1>
      </div>

    <div class="container">
        <div class="tag">Adjective</div>
        <div class="tag">Adposition</div>
        <div class="tag">Adverb</div>
        <div class="tag">Auxilary</div>
        <div class="tag">Coordinate Conjunction</div>
        <div class="tag">Determiner</div>
        <div class="tag">Interjection</div>
        <div class="tag">Noun</div>
        <div class="tag">Numeral</div>
        <div class="tag">Other</div>
        <div class="tag">Particle</div>
        <div class="tag">Pronoun</div>
        <div class="tag">Proper Noun</div>
        <div class="tag">Punctuation</div>
        <div class="tag">Subordinate</div>
        <div class="tag">Symbol</div>
        <div class="tag">Verb</div>
    </div>
</body>
</html>