<!-- parser_app/templates/home.html -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Malayalam Parser</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>
<body>
    <div class="main-container">
        <div class="main-heading">
            <h1><span style="color: #8AB927;">Malayalam</span> Parser</h1>
        </div>
        <div class="description">
            <h2>Step into a world of linguistic exploration! Dive into our webpage to uncover existing datasets and transform your input into a mosaic of named entities, POS tags, and sentiment analysis.</h2>
        </div>
        <div class="container">
            <div class="text-container">
                <div class="input-container">
                  <textarea id="input-text" class="custom-textarea" placeholder="Try now, Enter the text here..."></textarea>
                    <button id="submit-btn">Submit</button>
                </div>
                <div class="results">
                    <table id="entities-table">
                      <thead>
                          <tr>
                              <th>Entity</th>
                              <th>Tag</th>
                          </tr>
                      </thead>
                      <tbody></tbody>
                  </table>

                  <table id="pos-tags-table">
                    <thead>
                        <tr>
                            <th>Token</th>
                            <th>POS Tag</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                  </table>

                  <table id="sentiment">
                    <thead>
                        <tr>
                            <th>Sentimental Analysis</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                  </table>

                </div>
                <div class="dataset-container">
                    <h2>Click here to download and use our data sets</h2>
                    <div class="ds-btns">
                        <button onclick="downloadFile('entities.csv')">Named Entity <img src="{% static 'file_download.png' %}" alt=""></button>
                        <button onclick="downloadFile('pos_tags.csv')">POS Tagged <img src="{% static 'file_download.png' %}" alt=""></button>
                        <button onclick="downloadFile('sentiment.csv')">Sentimental <img src="{% static 'file_download.png' %}" alt=""></button>
                    </div>                   
                </div>
            </div>
            <div class="img-container">
                <img src="{% static 'image.png' %}" alt="">
            </div>
        </div>
    </div>

    <script>
        document.getElementById('submit-btn').addEventListener('click', function() {
            var resultsContainer = document.querySelector('.results');
            resultsContainer.style.display = 'flex';
            resultsContainer.style.flexDirection = 'column';
            resultsContainer.style.gap = '20px';
        });
    </script>
    
    <script>
        function downloadFile(filename) {
            var link = document.createElement('a');
            link.setAttribute('href', '{% static "" %}' + filename);
            link.setAttribute('download', filename);
            link.style.display = 'none';
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        }
    </script>    

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
        $('#submit-btn').click(function() {
            var inputText = $('#input-text').val();
            $.ajax({
                type: 'POST',
                url: '/parse/',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                },
                data: {
                    'text': inputText,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    var entities = response.entities;
                    var posTags = response.pos_tags;
                    var sentiment = response.sentiment;
                    
                    // Function to get expanded entity label
                    function getExpandedEntityLabel(label) {
                        switch (label) {
                            case 'PERSON':
                                return 'Person';
                            case 'NORP':
                                return 'Nationality or religious or political group';
                            case 'FAC':
                                return 'Facility';
                            case 'ORG':
                                return 'Organization';
                            case 'GPE':
                                return 'Geopolitical entity';
                            case 'LOC':
                                return 'Location';
                            case 'PRODUCT':
                                return 'Product';
                            case 'EVENT':
                                return 'Event';
                            case 'WORK_OF_ART':
                                return 'Work of art';
                            case 'LAW':
                                return 'Law';
                            case 'LANGUAGE':
                                return 'Language';
                            case 'DATE':
                                return 'Date';
                            case 'TIME':
                                return 'Time';
                            case 'PERCENT':
                                return 'Percentage';
                            case 'MONEY':
                                return 'Money';
                            case 'QUANTITY':
                                return 'Quantity';
                            case 'ORDINAL':
                                return 'Ordinal number';
                            case 'CARDINAL':
                                return 'Cardinal number';
                            default:
                                return label; // Return the label as is if not found in the switch statement
                        }
                    }

                    // Function to get expanded POS tag
                    function getExpandedPOSTag(tag) {
                        switch (tag) {
                            case 'ADJ':
                                return 'Adjective';
                            case 'ADP':
                                return 'Adposition';
                            case 'ADV':
                                return 'Adverb';
                            case 'AUX':
                                return 'Auxiliary';
                            case 'CCONJ':
                                return 'Coordinating Conjunction';
                            case 'DET':
                                return 'Determiner';
                            case 'INTJ':
                                return 'Interjection';
                            case 'NOUN':
                                return 'Noun';
                            case 'NUM':
                                return 'Numeral';
                            case 'PART':
                                return 'Particle';
                            case 'PRON':
                                return 'Pronoun';
                            case 'PROPN':
                                return 'Proper Noun';
                            case 'PUNCT':
                                return 'Punctuation';
                            case 'SCONJ':
                                return 'Subordinating Conjunction';
                            case 'SYM':
                                return 'Symbol';
                            case 'VERB':
                                return 'Verb';
                            case 'X':
                                return 'Other';
                            default:
                                return tag; // Return the tag as is if not found in the switch statement
                        }
                    }
                    
                    // Populate Named Entities Table with expanded labels
                    var tbodyEntities = $('#entities-table tbody');
                    tbodyEntities.empty();
                    entities.forEach(function(entity) {
                        var tr = $('<tr>');
                        tr.append($('<td>').text(entity[0])); // Named Entity
                        var expandedLabel = getExpandedEntityLabel(entity[1]); // Get expanded form of entity label
                        tr.append($('<td>').text(expandedLabel)); // Expanded Entity Label
                        tbodyEntities.append(tr);
                    });
                    
                    // Populate POS Tags Table with expanded forms
                    var tbodyPosTags = $('#pos-tags-table tbody');
                    tbodyPosTags.empty();
                    posTags.forEach(function(tag) {
                        var tr = $('<tr>');
                        tr.append($('<td>').text(tag[0])); // Token
                        var expandedTag = getExpandedPOSTag(tag[1]); // Get expanded form of POS tag
                        tr.append($('<td>').text(expandedTag)); // Expanded POS Tag
                        tbodyPosTags.append(tr);

                        // Add click event listener to each row
                        tr.click(function() {
                            var posTag = expandedTag; // POS tag
                            // Open the respective page in a new tab based on the POS tag
                            window.open('/pos/' + encodeURIComponent(posTag), '_blank');
                        });
                    });

                    // Populate Sentimental Table
                    var tbodySentiment = $('#sentiment tbody');
                    tbodySentiment.empty();
                    var tr = $('<tr>');
                    tr.append($('<td>').text(sentiment));
                    tbodySentiment.append(tr);
                },
                error: function(xhr, errmsg, err) {
                    console.error(xhr.status + ": " + xhr.responseText);
                }
            });
        });
    });
    </script>

</body>
</html>
