{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Numeral</title>
    <link rel="stylesheet" href="{% static 'pos_style.css' %}">
  
    
  </head>
  <body>
    <section class="main">
      <div class="main-container">
        <div class="main-heading">
          <h1><span style="color: #8ab927">Malayalam</span> Parser</h1>
          <div class="home-button">
            <a href="{% url 'explore' %}"><button>Explore More</button></a>
          </div>
        </div>

        <div class="description">
          <h2 class="eng">NUMERAL</h2>
          <p class="english">
            Numerals are words or symbols used to represent numbers.They can be cardinal,
            indicating quantity (e.g., "two apples"), or ordinal, indicating position (e.g., "2nd place").
             Numerals can be written as digits (e.g., "3"), words (e.g., "three"), or symbols (e.g., "III" in Roman numerals).
              Numerals are essential for counting, measuring, and ordering items, and they play a crucial role in various fields,
              including mathematics, science, and commerce.

          </p>

          <h2>അക്കങ്ങള്‍</h2>
          <p class="mallu">
            അക്കങ്ങള്‍ സംഖ്യകള്‍ സൂചിപ്പിക്കുന്ന വാക്കുകളോ ചിഹ്നങ്ങളോ ആണ്.
            അവ കാര്‍ഡിനല്‍ ആയിരിക്കാം, അല്ലെങ്കില്‍ ഓര്‍ഡിനല്‍ ആയിരിക്കാം.
            കാര്‍ഡിനല്‍ സംഖ്യകള്‍ അളവ് സൂചിപ്പിക്കുന്നു ,ഓര്‍ഡിനല്‍ സംഖ്യകള്‍ അടിയനുസൃതമായ സ്ഥാനം 
            സൂചിപ്പിക്കുന്നു.സംഖ്യകള്‍ അക്ഷരങ്ങളായി (ഉദാഹരണം: "മൂന്ന്")അല്ലെങ്കില്‍ ചിഹ്നങ്ങളായി 
            (ഉദാഹരണം: റോമന്‍ സംഖ്യകളില്‍ "III") എഴുതി കൊണ്ടുവരാം. സംഖ്യകള്‍ എണ്ണിയാല്‍, അളവ് ചെയ്യാനും, 
            പരിമാപനം ചെയ്യാനും, ഉള്ളിലെ വിവിധ വിഭാഗങ്ങളിലേക്ക് വിതരണം ചെയ്യാനും സംഖ്യകള്‍ അത്യാവശ്യമാണ്.
          </p>
           
         
           
           
          
          
          <h2>ഉദാഹരണം</h2>
          <ul>
            <li>നാല്</li>
            <li>രണ്ട് ആപ്പിൾ</li>
            <li>രണ്ടാം സ്ഥാനം </li>
            <li>IV</li>
            <li>എട്ട്</li>
            
          </ul>
          <h2>ഉദാഹരണങ്ങൾ വായിക്കുക</h2>
          <ol id="adj-sentences"></ol>

        </div>
      </div>
    </section>
    
    <script>
      // Load pos_tags.csv using fetch API
      fetch('/static/pos_tags.csv')
        .then(response => response.text())
        .then(data => {
          const rows = data.split('\n').filter(row => row.trim() !== '');
          const adjRows = rows.filter(row => row.split(',')[1].includes('NUM'));
    
          // Display first 10 rows
          const olElement = document.getElementById('adj-sentences');
          adjRows.slice(0, 10).forEach(row => {
            const liElement = document.createElement('li');
            liElement.textContent = row;
            olElement.appendChild(liElement);
          });
        });
    </script>
  </body>
</html>
