{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pronoun</title>
    <link rel="stylesheet" href="{% static 'pos_style.css' %}">
  
    
  </head>
  <body>
    <section class="main">
      <div class="main-container">
        <div class="main-heading">
          <h1><span style="color: #8ab927">Malayalam</span> Parser</h1>
          <div class="home-button">
            <a href="{% url 'explore' %}"><button>Explore More</button></a>
          </div>
        </div>

        <div class="description">
          <h2 class="eng">PRONOUN</h2>
          <p class="english">
            A pronoun is a word that is used in place of a noun or noun phrase. 
            Pronouns are often used to avoid repetition and make sentences less cumbersome. 
            They can refer to a specific person, thing, or group of people. Common types of pronouns include personal pronouns
             (e.g., "he," "she," "it," "they"), which refer to specific individuals or groups; possessive 
             pronouns (e.g., "his," "her," "its," "their"), which indicate ownership or association; reflexive pronouns
              (e.g., "myself," "yourself," "himself," "herself"), which reflect back to the subject of the sentence; and relative pronouns
               (e.g., "who," "which," "that"), which introduce relative clauses and connect them to the main clause. 
               Pronouns are an essential part of language and are used in everyday communication to clarify meaning and make speech 
               and writing more efficient.
          </p>

          <h2>സര്‍വ്വനാമം</h2>
          <p class="mallu">
            സര്‍വ്വനാമം നാമവാക്യത്തിന്റെ സ്ഥാനത്ത് ഉപയോഗിക്കുന്ന ഒരു വാക്ക് ആണ്.
             സര്‍വ്വനാമങ്ങള്‍ പുനഃപ്രയോഗം തടയുകയും വാക്യങ്ങള്‍ ചെറിയതാക്കാന്‍ ഉപയോഗിക്കുകയും ചെയ്യുന്നു.
              അവ നിശ്ചയിത വ്യക്തി, വസ്തു അല്ലെങ്കില്‍ കൂട്ടത്തെ സൂചിപ്പിക്കാം. പ്രധാന രകളികളായി സര്‍വ്വനാമങ്ങള്‍ 
              അവരുടെ ആസ്ഥാനം അല്ലെങ്കില്‍ സംബന്ധം സൂചിപ്പിക്കുന്നു; സ്വന്തമായ സര്‍വ്വനാമങ്ങള്‍ അവരുടെ ഉദ്ദേശത്തോടു 
              ബന്ധപ്പെട്ട പൊരുത്തവാക്യങ്ങള്‍ സൂചിപ്പിക്കുന്നു; സ്വന്തമായി നിന്നും വിളിച്ചുകൊണ്ടുപോയ സര്‍വ്വനാമങ്ങള്‍ വാക്യത്തിന്റെ
               വിഷയത്തിലേയ്ക്ക് തിരിച്ചു തിരിച്ചുകൂടാന്‍ ഉപയോഗിക്കുന്നു. സാധാരണമായി നാമത്തിന്റെ തെറ്റിദ്ധാരണകള്‍ 
               പൂര്‍ണ്ണമായി സ്ഥാനംപിടിക്കാന്‍ സര്‍വ്വനാമങ്ങള്‍ ഉപയോഗിക്കുന്നു.
          </p>

          <h2>ഉദാഹരണം</h2>
          <ul>
            <li>ഞാന്‍</li>
            <li>അത് </li>
            <li>അവര്‍</li>
            <li>അവള്‍</li>
            <li>അവരുടെ</li>
            <li>എന്ത്</li>
          </ul>
          <h2>ഉദാഹരണങ്ങൾ വായിക്കുക</h2>
          <ol id="adj-sentences"></ol>

        </div>
      </div>
    </section>
    
    <script>
      // Load pos_tags.csv using fetch API
      fetch('/static/pos_tags.csv')
        .then(response => response.text())
        .then(data => {
          const rows = data.split('\n').filter(row => row.trim() !== '');
          const adjRows = rows.filter(row => row.split(',')[1].includes('PRON'));
    
          // Display first 10 rows
          const olElement = document.getElementById('adj-sentences');
          adjRows.slice(0, 10).forEach(row => {
            const liElement = document.createElement('li');
            liElement.textContent = row;
            olElement.appendChild(liElement);
          });
        });
    </script>
  </body>
</html>
