{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verb</title>
    <link rel="stylesheet" href="{% static 'pos_style.css' %}">
  
    
  </head>
  <body>
    <section class="main">
      <div class="main-container">
        <div class="main-heading">
          <h1><span style="color: #8ab927">Malayalam</span> Parser</h1>
          <div class="home-button">
            <a href="{% url 'explore' %}"><button>Explore More</button></a>
          </div>
        </div>

        <div class="description">
          <h2 class="eng">VERB</h2>
          <p class="english">
            A verb is a word that expresses an action, occurrence, or state of being. 
            It is a crucial element of a sentence, serving as the predicate or the part of the sentence 
            that conveys information about what the subject is doing or the condition it is in. Verbs can indicate
            actions that are physical (e.g., "run," "eat," "write") or mental (e.g., "think," "believe," "understand"),
            as well as states of being (e.g., "is," "are," "was," "were"). Verbs can also convey time,
            indicating whether an action is happening in the past, present, or future. In many languages, 
            including English, verbs can also change form to indicate tense, aspect, mood, and voice.
          </p>

          <h2>ക്രിയ</h2>
          <p class="mallu">
            ക്രിയ ഒരു കാര്യം, അവസ്ഥ അല്ലെങ്കിൽ സംഭവം വിവരിക്കുന്ന ഒരു പദമാണ്. 
            ക്രിയകള്‍ ശാരീരികമായ (ഉദാ: "ഓടുക", "അവിടെ", "എഴുന്നേറ്റുക") അല്ലെങ്കില്‍ മാനസീകമായ 
            (ഉദാ: "വിചാരിക്കുക", "വിശ്വസിക്കുക", "പരിജ്ഞാനം ഉള്ളതാക്കുക") ചിന്തകളോടുള്ള 
            അല്ലെങ്കില്‍ അസ്തിത്വത്തെപ്പറ്റിയുള്ള (ഉദാ: "ആണ്", "ആരുണ്", "ആയിരുന്നു", "ആയിരുന്നു") 
            കാര്യങ്ങള്‍ സൂചിപ്പിക്കാന്‍ കഴിയുന്നു.ക്രിയകള്‍ സമയവും സൂചിപ്പിക്കുന്നതാണ്‌,
             ഒരു ക്രിയയുടെ നടക്കുന്ന സമയം പറയുന്നത്‌, അത് കഴിഞ്ഞത്, നിലവിലെത്തിയത് 
             അല്ലെങ്കില്‍ ഭവിക്കുന്നത് എന്നീ വിവരങ്ങള്‍ പറയുന്നു.
            
          </p>

          <h2>ഉദാഹരണം</h2>
          <ul>
            <li>പഠിക്കുക</li>
            <li>വിചാരിക്കുക</li>
            <li>അറിയിക്കുക</li>
            <li>വിജയിക്കുക</li>
            
          </ul>
          <h2>ഉദാഹരണങ്ങൾ വായിക്കുക</h2>
          <ol id="adj-sentences"></ol>

        </div>
      </div>
    </section>
    
    <script>
      // Load pos_tags.csv using fetch API
      fetch('/static/pos_tags.csv')
        .then(response => response.text())
        .then(data => {
          const rows = data.split('\n').filter(row => row.trim() !== '');
          const adjRows = rows.filter(row => row.split(',')[1].includes('VERB'));
    
          // Display first 10 rows
          const olElement = document.getElementById('adj-sentences');
          adjRows.slice(0, 10).forEach(row => {
            const liElement = document.createElement('li');
            liElement.textContent = row;
            olElement.appendChild(liElement);
          });
        });
    </script>
  </body>
</html>
